* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #141719;
    width: 100%;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.header-logo{
    margin-right: 80px;
}
.header-logo img{
    width: 100px;
}
.header-menu ul{
    display: flex;
    list-style: none;
}
.header-menu ul li{
    line-height: 48px;
}
.header-menu ul li a{
    color: #d2d2d2;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    margin-right: 20px;
    font-size: 18px;
    border-bottom: 2px solid #d2d2d2;
    transition: color 0.3s;
}
.header-menu ul li a:hover{
    color: #ffcc00;
}

/* Main */
.wrapper{
    display: flex;
}
.main-content{
    width: 80%;
}
/* First-Row */
.first-row{
    display: flex;
    height: 50vh;
}
.first-row span{
    background-color: red;
    padding: 15px;
}
.box{
    width: 300px;
    height: 200px;
    border: 1px solid red;
    display: flex;
    margin: 20px;
}
.box1st{
   justify-content: flex-start;
   align-items: start;
}
.box2nd{
    justify-content: center;
    align-items: center;
}
.box3rd{
    justify-content: flex-end;
    align-items: end;
}

/* Second-Row */
.second-row{
    display: flex;
}
.second-row span{
    padding: 20px;
}
.second2nd{
    flex-grow: 1;
}

/* Third-Row */
.third-row{
    display: flex;
}
.box1{
    width: 300px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    margin: 20px;
    justify-content: space-around;
}
.flex-btn{
    margin-top: 40px;
}
.flex-btn span{
    background-color: red;
    color: #fff;
    padding: 10px;
    border: 1px solid green;
}
.box2{
    width: 300px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.flex3-btn{
    background-color: red;
    color: #fff;
    display: flex;
    padding: 10px;
    display: block;
    border: 1px solid green;
}

.box3{
    width: 300px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    margin: 20px;
    padding: 10px;
}
.flex-item1{
    align-self: flex-start;
}
.flex-item2{
    align-self: center;
}
.flex-item3{
    align-self: flex-end;
}
/* Sidebar */
.sidebar{
    background-color: #d2d2d2;
    padding: 0px 20px;
    border-left: 2px solid red;
    margin: 10px 0;
}
.sidebar h3{
    padding: 10px 0;
}
.sidebar img{
    width: 200px;
}
/* Footer */
footer{
    margin-bottom: 50px;
    padding: 20px 0px 20px 0px;
    background-color: #141719;
}
.footer{
    margin-left: 35%;
    width: 500px;
}
.footer-menu{
    align-self: center; 
}
.footer-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}
.footer-menu ul li a {
    color: #d2d2d2;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    position: relative;
}
.footer-menu ul li a::after {
    content: '';
    position: absolute;
    background-color: #d2d2d2;
    bottom: -10px;
    left: -8px;
    width: 130%;
    height: 2px;
}
.footer-menu ul li a:hover{
    color: #ffcc00;
}


