* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #141719;
    width: 100%;
}
.contaner{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.header-logo{
    margin-right: 80px;
}
.header-logo img{
    width: 100px;
}
.header-menu ul{
    display: flex;
    list-style: none;
}
.header-menu ul li{
    line-height: 48px;
}
.header-menu ul li a{
    color: #d2d2d2;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    margin-right: 20px;
    font-size: 18px;
    border-bottom: 2px solid #d2d2d2;
    transition: color 0.3s;
}
.header-menu ul li a:hover{
    color: #ffcc00;
}

/* Main */
.container{
    margin: 20px;
    display: flex;
  }
/* Top-Row */
.top-row{
    display: flex;
}
.top-row span{
    background-color: red;
    color: #fff;
    padding: 10px;
}
.card-01{
    flex: 1;
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px solid green;
    display: flex;
    align-items: flex-start;
}
.card-011{
    flex: 1;
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-0111{
    flex: 1;
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border: 1px solid green;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Middle-Row */
.middle-row{
    display: flex;
}
.middle-row P{
    padding: 20px;
}
.card-02{
    flex: 1;
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
}
.card-022{
    flex: 1;
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
    flex-grow: 1;
}
.card-0222{
    flex: 1;
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
}
/* Last-Row */
.last-row{
    display: flex;
}
.last-row span{
    background-color: red;
    border: 1px solid green;
    padding: 10px;
    color: #fff;
}
.card-03{
    position: relative;
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    justify-content: space-around;
}
.box1{
    width: 300px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    margin: 10px;
    justify-content: space-around;
}
.flex-btn{
    margin-top: 25px;
}
.card-033{
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

.card-0333{
    width: 300px;
    height: 150px;
    margin: 10px;
    border: 1px solid red;
    display: flex;
}
.card-box333{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.card-box333 > div{
    display: flex;
}
.card1st{
    justify-content: start;
    align-items: start;
}
.card2nd{
    justify-content: center;
    align-items: center;
}
.card3rd{
    display: flex;
    align-items: flex-end;
}

.sidebar{
    background-color: #d2d2d2;
    padding: 0px 15px;
    border-left: 2px solid red;
}
.sidebar h3{
    padding: 10px 0;
}
.sidebar img{
    width: 200px;
}

/* Footer */
footer{
    margin-bottom: 50px;
    padding: 20px 0px 20px 0px;
    background-color: #141719;
}
.footer{
    width: 500px;
    margin: auto;
}
.footer-menu{
    padding-bottom: 12px;
}
.footer-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.footer-menu ul li a{
    color: #d2d2d2;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    position: relative;
}
.footer-menu ul li a::after{
    content: '';
    position: absolute;
    background-color: #d2d2d2;
    bottom: -10px;
    left: -8px;
    width: 130%;
    height: 2px;
}
.footer-menu ul li a:hover{
    color: #ffcc00;
}