* {
    padding: 0;
    margin: 0;
}
.mid-width{
    width: 1200px;
    margin: auto;
    display: flex;
}
header{
    background-color: #141719;
    width: 100%;
}
.container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.header-logo{
    margin-right: 80px;
}
.header-logo img{
    width: 100px;
}
.header-menu ul{
    display: flex;
    list-style: none;
}
.header-menu ul li{
    line-height: 48px;
}
.header-menu ul li a{
    color: #d2d2d2;
    text-decoration: none;
    display: block;
    padding: 0px 10px;
    margin-right: 20px;
    font-size: 18px;
    border-bottom: 2px solid #d2d2d2;
    transition: color 0.3s;
}
.header-menu ul li a:hover{
    color: #ffcc00;
}

/* Main */
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
/* First-Row */
.first-row{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}
.box1, .box11, .box111{
    width: 300px;
    height: 200px;
    border: 1px solid green;
    margin-right: 20px;
}
.box1 span{
    background-color: red;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid aqua;
    align-items: flex-start;
}
.box11 span{
    background-color: red;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid aqua;
    justify-content: center;
    align-items: center;
}
.box111 span{
    background-color: red;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid aqua;
    justify-content: flex-end;
    align-items: flex-end;
}
.box111{
    justify-content: flex-end;
    align-items: flex-end;
}
/* Second-Row */
.second-row{
    display: flex;
}
.box2, .box22, .box222{
    width: 300px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;
    margin-right: 20px;
}
.box22{
    
}
/* Third-Row */
.third-row{
    display: flex;
    padding: 50px 0;
}
.box3, .box33, .box333{
    width: 300px;
    height: 150px;
    border: 1px solid aqua;
    margin-right: 20px;
}
.box3 span{
    background-color: red;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid aqua;
    align-items:flex-start ;   
    justify-content: space-between;
}
.box33 span{
    background-color: red;
    font-size: 20px;
    padding: 0px 10px;
    border: 1px solid aqua;
    flex-wrap: wrap;
    align-content:flex-start;
}
.box333 span{
    border: 1px solid aqua;
}
.box333 .left{
    background-color: red;
    font-size: 20px;
    display: inline-block;
    align-items: flex-start;
}
.box333 .center{
    background-color: red;
    font-size: 20px;
    display: inline-block;
    align-items: center;
}
.box333 .right{
    background-color: red;
    font-size: 20px;
    display: inline-block;
    align-items: flex-end;
}
/* Articale */
.sidebar{
    background-color: #d2d2d2;
    width: 230px;
    border-left: 2px solid red;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    margin-right: -30px;
}
.sidebar img{
    width: 200px;
}


